@media (prefers-color-scheme: light) {
  .darkMode {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .lightMode {
    display: none;
  }
}

.nav-group__toggle {
  background-color: #00ECAE;
  color: black;
}

.nav__link-indicator {
  background-color: #00ECAE;
}

