.form-create {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}

.form__error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.form__row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-bottom: 1rem;
  div {
    width: 50%;
  }
}

.form__redirect {
  margin-top: 1rem;
  font-size: 0.875rem;
  opacity: 0.8;
}