.reset-password-button {
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .clicked {
        cursor: not-allowed;
    }

    svg {
        visibility: hidden;
        .animate-spin {
            display: inline-block;
            animation: spin 1s linear infinite;
        }
    }
}
