@use '@/styles/mixins' as *;

.related-posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 2rem 0;

    @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    @include xl {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}