.posthero {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--card-foreground);
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--accent-foreground);
  
    &__date {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 0.875rem;
      color: var(--muted-foreground);
    }



}
