@use '@/styles/mixins' as *;

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100%;

    &__children {
        width: 100%;
        margin: auto;
        @include md {
            width: 50%;
        }
    }

    button[type='submit'] {
        cursor: pointer;
        padding: 0.5rem;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        .is-loading {
            cursor: not-allowed;
        }

        svg {
            visibility: hidden;
            .animate-spin {
                display: inline-block;
                animation: spin 1s linear infinite;
            }
        }
    }
}

.form {
    &__field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    &__input {
        width: 100%;
        background-color: white;
        color: green;
        border: 1px solid gray-300;
        padding: 0.5rem;
        border-radius: 0.25rem;
    }
}
