/* .content-with-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    div {
        flex: 0 0 50%;
    }

    .image {
        display: flex;
        align-items: stretch;
        max-width: 45%;

        img {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
            object-position: center;
        }
    }

    &.left {
        flex-direction: row-reverse;
    }
} */

.content-with-media {
    width: 100%;
    &::after {
        content: '';
        display: block;
        clear: both;
    }

    img {
        max-width: 50%;
        max-height: 50vh;
        object-fit: cover;
        object-position: center;
        shape-outside: margin-box;
        margin: 0 1rem 1rem 0;
    }

    &.left {
        img {
            float: left;
        }
    }

    &.right {
        img {
            float: right;
        }
    }
}
